body{
  margin: 0;
}

h1{
  margin: 0;
}

header {
  align-items: center;
  background: #2a7eb1;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  display: flex;
  height: 80px;
}

header .inner {
  margin: auto;
  max-width: 100%;
  width: 1020px;
}

header .flexbox {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav-global ul {
  list-style :none;
}

.nav-global li {
  margin: 0 15px;
}

.nav-global li:last-child {
  margin-right: 0;
}

.nav-global a {
  color: #fff;
  text-decoration: none;
}






body{
  background-color: #efefef;
  }
  .container {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  }
  .container .item {
  background-color: whitesmoke;
  color: #199685;
  padding: 10px;
  margin:10px;
  font-size: 20px;
  }


  #accordion {
    width: 500px;
  }

  #accordion dt {
    border-bottom: solid 1px white;
    background-color: #ccc;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
  }

  #accordion dd {
    border: solid 1px #ccc;
    margin: 0px;
    padding: 10px;
  }









  #site-footer {
  padding: 25px 0;
  font-size: 85%;
  background-color: #f0f8ff;
  position: fixed;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 20px;
}
